body {
    margin: 0;
    padding: 0;
}


.hide {
    display: none;
}


.show {
    visibility: visible;
}



.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}




#screen {
    width: 56.25vw;
    height: 100vw;
    background-color: skyblue;
    overflow: hidden;
    position: relative;
}


#start {
    background-image: url("grafik/start.svg");
    background-size: 100%;
    width: 56.25vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: non;
}


#play {
    position: absolute;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    background-image: url(grafik/play.svg);
    background-size: 100%;
    left: 18vw;
    top: 39vw;


    cursor: pointer;
}

#game {
    position: absolute;
    width: 56.25vw;
    height: 100vw;
    top: 0;
    left: 0;
}



/*________________________________IN GAME__________________________________________*/

#game_background {
    background: url("grafik/background_basket.svg");
    background-size: 100%;
    width: 56.25vw;
    height: 100vw;
    position: absolute;

}

#full_life {
    background: url("grafik/full_life.svg");
    background-size: 100%;
    width: 26vw;
    height: 7vw;
    position: absolute;
    top: 2vw;
    left: 70vw;
}


#tid {
    background: url("grafik/timer.svg");
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
    font-family: 'Kanit', sans-serif;
    font-size: 6rem;
    color: white;
    text-align: center;

}

/*
#levelcomplete {
    background: url(grafik/level_completed.svg);

}


#replay {
    background: url(grafik/bpttum_replay.svg);

}
*/

/*________________________________GAME ELEMENTS__________________________________*/

#pizza {
    background: url("grafik/pizza.svg");
    background-size: 100%;
    width: 15vw;
    height: 24vw;
    position: absolute;
    transform: translateX(50vw) translateY(-30vw);

}





#Pizza_rotated {
    background: url("grafik/Pizza_rotated.svg");
    background-size: 100%;
    width: 20vw;
    height: 14.7vw;
    position: absolute;
    transform: translateX(30vw) translateY(-195vw);


}






#batteri {
    background: url("grafik/batteri.svg");
    background-size: 100%;
    width: 7vw;
    height: 16vw;
    position: absolute;
    transform: translateX(25vw) translateY(-200vw)
}








#batteri_rotaed {
    background: url("grafik/batteri_rotaed.svg");
    background-size: 100%;
    width: 10vw;
    height: 11vw;
    position: absolute;
    transform: translateX(60vw) translateY(-195vw)
}







#avocado_rotaed_01 {
    background: url("grafik/avocado_rotaed_01.svg");
    background-size: 100%;
    width: 10vw;
    height: 11.3vw;
    position: absolute;
    transform: translateX(15vw) translateY(-195vw)
}







#avocado_rotaded_02 {
    background: url("grafik/avocado_rotaded_02.svg");
    background-size: 100%;
    width: 10vw;
    height: 16.3vw;
    position: absolute;
    transform: translateX(87vw) translateY(-195vw)
}









#milk_rotated {
    background: url("grafik/milk_rotated.svg");
    background-size: 100%;
    width: 16vw;
    height: 25.5vw;
    position: absolute;
    transform: translateX(87vw) translateY(-210vw)
}




#milk {
    background: url("grafik/milk.svg");
    background-size: 100%;
    width: 13vw;
    height: 25vw;
    position: absolute;
    transform: translateX(87vw) translateY(-210vw)
}



#glass_rotated_01 {
    background: url("grafik/glass_rotated_01.svg");
    background-size: 100%;
    width: 17vw;
    height: 16.4vw;
    position: absolute;
    transform: translateX(46vw) translateY(-210vw)
}






#glass_rotated_02 {
    background: url("grafik/glass_rotated_02.svg");
    background-size: 100%;
    width: 17vw;
    height: 17vw;
    position: absolute;
    transform: translateX(60vw) translateY(2vw)
}


/*_______________________________BEVÆGELSER_________________________________________*/




.bevaegelse1 {
    animation-name: bevaegelse1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes bevaegelse1 {

    to {
        transform: translateX(0) translateY(90vw);
    }
}



.bevaegelse2 {
    animation-name: bevaegelse2;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes bevaegelse2 {

    0% {
        transform: translateX(3vw) translateY(0vw)
    }

    100% {
        transform: translateX(0) translateY(80vw);
    }
}


.bevaegelse3 {
    animation-name: bevaegelse3;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

@keyframes bevaegelse3 {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}



/*

______________________________SETTINGS__________________________________
*/



#settings {
    position: absolute;
    width: 7vw;
    height: 7vw;
    background-image: url(grafik/mini_settings.svg);
    background-size: 100%;
    left: 48vw;
    top: 1vw;

}


#settings_screen {
    position: absolute;
    width: 55vw;
    height: 65vw;
    background-image: url(grafik/settings.svg);
    top: 0vw;
    left: 1.2vw;
    border-radius: 2vw;
    color: white;
}


#setting_close {
    position: absolute;

    left: 20vw;
    top: 53vw;

    width: 16vw;
    height: 6.8vw;
    background-image: url(grafik/EXIT_botton.svg);
    background-size: 100%;
}
