body {
    margin: 0;
    padding: 0;
}


.hide {
    display: none;
}


.show {
    visibility: visible;
}



.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}




#screen {
    width: 56.25vw;
    height: 100vw;
    background-color: skyblue;
    overflow: hidden;
    position: relative;
}


#start {
    background-image: url("grafik/start.svg");
    background-size: 100%;
    width: 56.25vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: non;
}


#play {
    position: absolute;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    background-image: url(grafik/play.svg);
    background-size: 100%;
    left: 18vw;
    top: 39vw;


    cursor: pointer;
}

#game {
    position: absolute;
    width: 56.25vw;
    height: 100vw;
    top: 0;
    left: 0;
}



/*___________________________________IN GAME__________________________________________*/

#game_background {
    background: url("grafik/background_basket.svg");
    background-size: 100%;
    width: 56.25vw;
    height: 100vw;
    position: absolute;

}

#full_life {
    background: url("grafik/full_life.svg");
    background-size: 100%;
    width: 26vw;
    height: 7vw;
    position: absolute;
    top: 2vw;
    left: 70vw;
}


#timer {
    background: url("grafik/timer.svg");
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
}

#timer_time {
    background: url("grafik/timer_time.svg");
    background-size: 100%;
    width: 10vw;
    height: 11vw;
    position: absolute;
    top: 12vw;
    left: 3vw;
}

/*________________________________GAME ELEMENTS__________________________________*/

#pizza {
    background: url("grafik/pizza.svg");
    background-size: 100%;
    width: 15vw;
    height: 24vw;
    position: absolute;
    transform: translateX(36vw) translateY(0vw);
}


.pizza_bevaegelse {
    animation-name: pizza_bevaegelse;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;


}

@keyframes pizza_bevaegelse {

    0% {
        transform: translateX(36) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(90vw);
    }
}



#Pizza_rotated {
    background: url("grafik/Pizza_rotated.svg");
    background-size: 100%;
    width: 20vw;
    height: 14.7vw;
    position: absolute;
    transform: translateX(30vw) translateY(-195vw);


}


.Pizza_rotated_bevaegelse {
    animation-name: Pizza_rotated_bevaegelse;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-timing-function: linear;



}

@keyframes Pizza_rotated_bevaegelse {

    0% {
        transform: translateX(3) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(80vw);
    }
}




#batteri {
    background: url("grafik/batteri.svg");
    background-size: 100%;
    width: 7vw;
    height: 16vw;
    position: absolute;
    transform: translateX(25vw) translateY(-200vw)
}



.batteri_bevaegelse {
    animation-name: batteri_bevaegelse;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: linear;


}

@keyframes batteri_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}





#batteri_rotaed {
    background: url("grafik/batteri_rotaed.svg");
    background-size: 100%;
    width: 10vw;
    height: 11vw;
    position: absolute;
    transform: translateX(60vw) translateY(-195vw)
}


.batteri_rotaed_bevaegelse {
    animation-name: batteri_rotaed_bevaegelse;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-timing-function: linear;


}

@keyframes batteri_rotaed_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}





#avocado_rotaed_01 {
    background: url("grafik/avocado_rotaed_01.svg");
    background-size: 100%;
    width: 10vw;
    height: 11.3vw;
    position: absolute;
    transform: translateX(15vw) translateY(-195vw)
}


.avocado_rotaed_01_bevaegelse {
    animation-name: avocado_rotaed_01_bevaegelse;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;


}

@keyframes avocado_rotaed_01_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}




#avocado_rotaded_02 {
    background: url("grafik/avocado_rotaded_02.svg");
    background-size: 100%;
    width: 10vw;
    height: 16.3vw;
    position: absolute;
    transform: translateX(87vw) translateY(-195vw)
}




.avocado_rotaed_02_bevaegelse {
    animation-name: avocado_rotaed_02_bevaegelse;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-timing-function: linear;


}

@keyframes avocado_rotaed_02_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}





#milk_rotated {
    background: url("grafik/milk_rotated.svg");
    background-size: 100%;
    width: 16vw;
    height: 25.5vw;
    position: absolute;
    transform: translateX(87vw) translateY(-210vw)
}



.milk_rotated_bevaegelse {
    animation-name: milk_rotated_bevaegelse;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear;


}

@keyframes milk_rotated_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}





#milk {
    background: url("grafik/milk.svg");
    background-size: 100%;
    width: 13vw;
    height: 25vw;
    position: absolute;
    transform: translateX(87vw) translateY(-210vw)
}



.milk_bevaegelse {
    animation-name: milk_bevaegelse;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;


}

@keyframes milk_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}





#glass_rotated_01 {
    background: url("grafik/glass_rotated_01.svg");
    background-size: 100%;
    width: 17vw;
    height: 16.4vw;
    position: absolute;
    transform: translateX(46vw) translateY(-210vw)
}





.glass_rotated_01_bevaegelse {
    animation-name: glass_rotated_01_bevaegelse;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function: linear;


}

@keyframes glass_rotated_01_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}


#glass_rotated_02 {
    background: url("grafik/glass_rotated_02.svg");
    background-size: 100%;
    width: 17vw;
    height: 17vw;
    position: absolute;
    transform: translateX(60vw) translateY(2vw)
}


.glass_rotated_02_bevaegelse {
    animation-name: glass_rotated_02_bevaegelse;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function: linear;


}

@keyframe glass_rotated_01_bevaegelse {

    0% {
        transform: translateX(0) translateY(0)
    }

    100% {
        transform: translateX(0) translateY(10vw);
    }
}





/*

________________________________SETTINGS____________________________________
*/



#settings {
    position: absolute;
    width: 7vw;
    height: 7vw;
    background-image: url(grafik/mini_settings.svg);
    background-size: 100%;
    left: 48vw;
    top: 1vw;
}

#settings_screen {
    position: absolute;
    width: 55vw;
    height: 65vw;
    background-image: url(grafik/settings.svg);
    top: 0vw;
    left: 1.2vw;
    border-radius: 2vw;
    color: white;
}


#setting_close {
    position: absolute;

    left: 20vw;
    top: 50vw;

    width: 15vw;
    height: 6.8vw;
    background-image: url(grafik/EXIT_botton.svg);
    background-size: 100%;
}
